<div class="donation">
  <h2 class = "firstClass"> Donation Goal </h2>
  <div class="bar">
    <label for="goal">${{goalReached}} / ${{goalTotal}}</label>
    <progress id="goal" [value]="goalPercent * 100" max="100"></progress>
  </div>
</div>

<br>

<h2>Newest Animals</h2>
<div class="animals-menu">
  <a *ngFor="let animal of animals" routerLink="/detail/{{animal.id}}">
    {{animal.name}}
  </a>
</div>

<br>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Embedded YouTube Video</title>
</head>
<body>
  <h2>Animal Training Videos</h2>
  <div class="video-table">
    
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2jH7--ovgNM" frameborder="0" allowfullscreen title="tutorial Example 1"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HTXajoc4a3k" frameborder="0" allowfullscreen title="tutorial Example 2"></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen title="tutorial Example 3"></iframe>

  </div>
</body>