/* AnimalDetailComponent's private CSS styles */

html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

h1,h2 {
  display: flex;
  justify-content: center;
}

label {
  color: #435960;
  font-weight: bold;
}

.logininputs{
  display:grid;
  justify-content: center;
}

input {
  font-size: 1em;
  padding: .5rem;
}

#login-input,#login-input-password {
  width: 300px;
  border-radius: 5px;

}

.logButtons{
  display:inline;
  justify-content: center;
  gap: 500px;
  
  width: 250px;
  
}
.inButtons{
  padding: 50px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.outButtons{

  gap: 20px;
  display: flex;
  justify-content: center;
}

button {
  background-color:#1B9AAA;
  border: 2px solid #ffffff;
  border-radius: 30px;
  box-shadow: #0D4D55 4px 4px 0 0;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  right: 50%;
  margin-top: 20px;

}
button:hover {
  background-color: #74d7e4;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

